.container{
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100%;

  
}
.app-footer {
  // height: 50px;
  width: 100%;
position: fixed;
  bottom: 0;
  background-color: #91622d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'roboto';
  margin-top: 2rem;
}
.app-top-nav{
  display: none;
}
.drop-down-card{
  display: none;
  
}
@media screen and (max-width:1000px) {
  .app-footer {
    
  }
  .app-top-nav{
    display: flex;
      background-color: #91622d;
      width: 100%;
        height:100px;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        align-items: flex-end;
        position: relative;
  }
  .drop-down-card{
    height: 800px;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: aqua;
   top: 20;
  }
  
}